* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0e0e;
    color: white;
    padding: 2rem 0rem;
    font-family: 'Inter';

    overflow-x: hidden;
}

.navbar-container img {
    width: 100%;
    max-width: 100px;
    position: relative;
}

.nav {
    position: relative;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}

.nav-links {
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    gap: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.0001em;
}


.nav-links a:hover {
    display: block;
}

.nav-links a:hover {
    text-shadow: 0px 0px 15px #44ff00;
    transform: scale(1.05);
}

/* .nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 60%;
    height: .5px;
    background: #77ff00;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
} */

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}


.button-one {
    width: 123px;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(14px);
    border-radius: 8px;
    background-color: rgba(43, 255, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    transition: 0.5s ease-in;
}

.button-one:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(-5px);
}

.button-one:hover, :focus {
    color: #000000;
    background: #2bff00;
    border: 1px solid #2bff00;
    text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
    box-shadow: 0 0 5px #2bff00,
              0 0 20px #2bff00,
              0 0 50px #2bff00,
              0 0 100px #2bff00;
    font-size: 14px;
    border-color: transparent;
}

.button-two {
    width: 113px;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(14px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    transition: 0.5s ease-in;
}

.button-two:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(-5px);
}

.button-two:hover, :focus {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #2bff00;
    text-shadow: 0 0 5px #000000,
              0 0 10px #000000,
              0 0 20px #000000;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15),
              0 0 20px rgba(255, 255, 255, 0.15),
              0 0 50px rgba(255, 255, 255, 0.15),
              0 0 100px rgba(255, 255, 255, 0.15);
    font-size: 14px;
    border-color: transparent;
}

.navbar-container {
    width: 100%;
    max-width: 858px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    gap: 5px;
}

.navbar {
    position: absolute;
    align-self: stretch;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    margin-top: -1%;
    width: 100%;
    z-index: 1000;
    background-color: #0e0e0e;
}

/* tela principal */

section.main-info{
    position: relative;
    max-width: 100%;
    height: 200vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section img#fundo{
    position: relative;
    min-width: 100%;
    object-fit: cover;
    z-index: -1;
    left: 50%;
    top: 3%;
}

section img#grafico{
    position: relative;
    object-fit: cover;
    z-index: 1;
    min-width: 100%;
    top: -1%;
    right: 50%;
}

section img#plat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 40%;
    top: 46%;
    object-fit: cover;
    filter: drop-shadow(5px 28px 13px #31742f);
    /* animation: slideUp 1s forwards; */
}

section img#planta {
    z-index: 4;
    position: absolute;
    object-fit: cover;
    height: 55%;
    top: 5%;
    left: 55%;
    animation: flutuar 4s ease-in-out infinite;
    animation-delay: 0.5s;
    filter: drop-shadow(5px 28px 30px #07c314b8);
}

.texto{
    position: absolute;
    z-index: 5;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 36%;
}

h1.titulo1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 84px;
    letter-spacing: -0.0506em;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.titulo2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    letter-spacing: -0.0506em;
    font-size: 102px;
    line-height: 84px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.sub-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 3%;
    line-height: 30px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.saiba-mais{
    transition: 0.5s ease-in-out;
    color: black;
    border: none;
    padding: 5px 5px;
    gap: 8px;
    position: absolute;
    width: 121px;
    height: 51px;
    top: 110%;
    background: #FFFFFF;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
    left: 45%;
}

button.saiba-mais:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(-5px);
    border: none;
}

button.saiba-mais:hover, :focus {
    color: white;
    background: #135506;
    text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
    box-shadow: 0 0 5px #135506,
              0 0 20px #135506,
              0 0 50px #135506,
              0 0 100px #135506;
    border-color: none;
}

section.about {
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: -15%;
    padding: 80px 50px;
    gap: 31px;
}

.about p {
    margin: 40px 0;
}

.img-1 img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.1;
}

h1.tit {
    font-size: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    letter-spacing: -0.06em;

    color: #FFFFFF;
    margin-bottom: 8%;
    margin-top: 6%;
    align-items: center;
    text-align: center;
}

.grupo-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 10px;
}
.sombra {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background: linear-gradient(280deg, #000, #0e5407);
}

.sombra-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background: linear-gradient(280deg, #0e5407, #000);
}

.card-1 {
    position: relative;
    width: 346px;
    /* margin-left: -10px;
    align-items: center; */
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 30px rgba(38, 209, 64, 0.5));
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}
  
.card-1:hover {
    filter: drop-shadow(0px 0px 30px rgb(49, 209, 38));
}

.card-1-text{
    position: absolute;
    top: 135px;
    left: calc(32% - 195px);
    width: 401px;
    height: 202px;
    z-index: 3;
    text-align: right;
    font-size: 16px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-1-text p{
    position: absolute;
    top: 12px;
    left: calc(19% - 195px);
    width: 521px;
    height: 202px;
    z-index: 3;
    text-align: right;
    font-size: 16px;
}

.card-2 {
    position: relative;
    width: 744px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 30px rgba(38, 209, 64, 0.5));
}

.card-2-text{
    position: absolute;
    top: 159.5px;
    left: calc(68% - 195px);
    width: 401px;
    height: 202px;
    z-index: 3;
    text-align: right;
    font-size: 16px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-2-text p{
    position: absolute;
    top: 12px;
    left: calc(19% - 195px);
    width: 521px;
    height: 202px;
    z-index: 3;
    text-align: right;
    font-size: 16px;
}
  
.card-2:hover {
    filter: drop-shadow(0px 0px 30px rgb(49, 209, 38));
}

.card-2 video {
    width: 100%;
    height: 100%;
    object-fit: cover; /*não deixa o vídeo esticado*/
}



.grupo-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 0px;
    margin-top: 10px;
}

.card-3 {
    position: relative;
    width: 744px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 30px rgba(38, 209, 64, 0.5));
}

.card-3-text{
    position: absolute;
    top: 159.5px;
    right: calc(68% - 195px);
    width: 401px;
    height: 202px;
    z-index: 3;
    text-align: left;
    font-size: 16px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-3-text p{
    position: absolute;
    top: 12px;
    right: calc(19% - 195px);
    width: 521px;
    height: 202px;
    z-index: 3;
    text-align: left;
    font-size: 16px;
}
  
.card-3:hover {
    filter: drop-shadow(0px 0px 30px rgb(49, 209, 38));
}

.card-4 {
    position: relative;
    width: 346px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 30px rgba(38, 209, 64, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-4-text{
    position: absolute;
    top: 159.5px;
    right: calc(32% - 195px);
    width: 401px;
    height: 202px;
    z-index: 3;
    text-align: left;
    font-size: 16px;
    text-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-4-text p{
    position: absolute;
    top: 12px;
    right: calc(19% - 195px);
    width: 521px;
    height: 202px;
    z-index: 3;
    text-align: left;
    font-size: 16px;
}
  
.card-4:hover {
    filter: drop-shadow(0px 0px 30px rgb(49, 209, 38));
}

/* fim */

section.values{
    padding: 4rem 4rem;
    color: white;
    max-width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.values .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 24px;
    width: 360px;
    height: 306px;
    background: #0D0D0D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} 

.values .card h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.031em;
}

.values .card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

h3.tit-values{
    font-size: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -0.06em;

    color: #FFFFFF;
    margin-bottom: 8%;
    align-items: center;
    text-align: center;
}

p.subt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 141%;
    text-align: center;
    letter-spacing: -0.036em;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: -90px;
}

.values .card:hover {
    background-color: rgb(25, 25, 25);
    /* transform: translateY(-15px);

    transition: .2s; */
}

.values .card img {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
} 

.values .card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 16px;
}

.quadrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 10px;

    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 10px;
}

/* fim */

section.services {
    padding: 4rem 4rem;
    max-width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.tit-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 22px;
}

.breve {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    gap: 7px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    width: 103px;
    height: 42px;
}

h5.breve{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162%;
    align-items: center;
    letter-spacing: -0.0001em;
    color: #2BFF00;
}

h1.tit-ajudar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.0004em;
    color: #FFFFFF;
}

/* fim */

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 40px;
    color: #fff;
}

.infos-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
}

.infos-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
}

.info-services{
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 300px;
    height: 150px;
    background: #0D0D0D;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px; */
}

.info-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    gap: 10px;

    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 10px;
}

.info-img img{
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

h1.info-tit{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 194%;
    display: flex;
    align-items: center;
    letter-spacing: -0.0001em;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: -30px;
}

p.info-subt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    display: flex;
    align-items: center;
    letter-spacing: -0.0001em;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
}

/* fim */

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.contact{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.contact-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    gap: 10px;
    margin-top: 120px;
    margin-left: 40px;

    width: 400px;
    height: 408px;
    background: transparent;
    border-radius: 10px;
    object-fit: cover;
}

.contact-img img{
    width: 100%;
    position: relative;
    height: 50vh;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.entrar-em-contato {
    padding: 40px 0px;
    flex: 1;
    margin-right: 40px;
}

.entrar-em-contato h1{
    letter-spacing: -0.015em;
    font-family: 'Inter';
    color: #2BFF00;
    font-size: 56px;
    margin-bottom: 20px;
    line-height: 116%;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.2s;
    text-shadow: 3px 3px 3px #00192d6e;
}

.entrar-em-contato p{
    margin-bottom: 20px;
    opacity: 0.8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;
    letter-spacing: -0.0001em;
}

form {
    display: flex;
    flex-direction: column;
}

.form-contato {
    flex: 1.2;
    border-radius: 10px;
}

.info-principais{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputs{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputs label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
}

.inputs input,
.inputs textarea{
    padding: 12px 14px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #2BFF00;
    font-size: 1rem;
    outline: none;
    transition: background 0.3s, border 0.3s, color 0s;
    font-family: 'Inter';
    box-shadow: none;
}

input::placeholder {
    color: #99999986;
    transition: opacity 0.3s ease;
}

input:focus::placeholder {
    opacity: 0;
}

.inputs input:focus,
.inputs textarea:focus{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.2);
    color: #2BFF00;
}

textarea{
    resize: none;
    height: 120px;
}

button.btn-enviar{
    background: linear-gradient(90deg, #0D3A03 0%, #2BFF00 117.18%);
    border-radius: 5px;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button.btn-enviar:hover{
    background-color: #079929;
}

footer {
    color: white;
    padding: 4rem 4rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 300px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;


    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
letter-spacing: -0.0001em;

color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer-section-1{
    margin-right: 250px;
    margin-top: 260px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
letter-spacing: -0.0001em;

color: rgba(255, 255, 255, 0.5);
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    
}

.footer-section ul li {
    margin: 5px 0;

}

.footer-section a {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 200%;
display: flex;
align-items: center;
letter-spacing: -0.0001em;

color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin-left: -70px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: -0.0001em;
    color: rgba(255, 255, 255, 0.5);
}

.logo-1-footer {
    width: 30%;
    height: 20%;
    object-fit: cover;
    margin-left: -120px;
    margin-top: 5px;
}



/* Animação de flutuação */
@keyframes flutuar {
    0% {
        transform: translate(-50%, -5px);
    }
    50% {
        transform: translate(-50%, 5px);
    }
    100% {
        transform: translate(-50%, -5px);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

