

.flex-kpi {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    
}

.card-kpi {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    flex: 1;
    background-color: var(--darker-gray);

    padding: 20px;
    display: flex;
    flex-direction: column;

    transition: transform .3s;
}



.card-kpi div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-kpi span {
    align-self: center;
    font-size: 4rem;
}

main p {
    color: #c5c5c5;
}

.grid-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.card-grid {
    background-color: var(--darker-gray);
    border-radius: 5px;
    padding: 20px;
}


.card-grid:nth-child(4) h2 {
    margin-bottom: 20px;
}

.card-grid:nth-child(4) p {
    font-size: 1.2rem;
}

