.flex-kpi {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;

}

.card-kpi {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    background-color: var(--darker-gray);
    flex: 1;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;

    transition: transform .3s;
}


.card-kpi div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-kpi div h2 {
    font-size: .9rem;
}

.card-kpi span {
    margin: 12px 0px;
    align-self: center;
    font-size: 1.5rem;
}

main p {
    color: #c5c5c5;
}

.grid-content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.card-grid h3 {
    font-size: 1rem;
}

.card-grid {
    background-color: var(--darker-gray);
    border-radius: 5px;
    padding: 15px;
}

.card-grid:nth-child(4) {
    justify-self: left;
    align-self: start;
}

.card-grid:nth-child(4) h3 {
    margin-bottom: 20px;
}

.card-grid:nth-child(4) p {
    font-size: 1rem;
}

