@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black-color:#041802;
    --green-color: #357200;
    --gray-color: #1d1d1d;
    --darker-gray: #071307;
}

body {
    font-family: "Inter", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: url(../../assets/backgrounddash.png);
    color: white;
}

aside {
    background-color: #071307;
    width: 290px;
    position: fixed;
    height: 100vh;
    align-items: center;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
}

aside img {
    max-width: 150px;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

aside nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.display-none {
    display: none;
}

aside p {
    margin-bottom: 20px;
    text-align: center;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

main {
    margin-left: 290px;
    padding: 1rem 1rem;
}

main header {
    margin-bottom: 10px;
}

main header > div {
    align-items: center;
    display: flex;
    gap: 10px;
}

main p {
    color: #c5c5c5;
    font-size: .7rem;
}

.funcionario-content {
    background-color: rgb(0, 34, 11);
}

table {
    width: 100%;
}

.info-table-content {
    text-align: center;
    background-color: var(--black-color);
    padding: .5rem;
}

.info-table-content:hover {
    background-color: rgb(17, 17, 17);
}

td {
    background-color: black;
    text-align: center;
    padding: .5rem;
}

td:nth-child(7) {
    cursor: pointer;
}

td:hover {
    background-color: rgb(22, 22, 22);
}

#warningDelete {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    right: 10px;

    background-color: #041802;
    padding: 20px;

    animation: comeIn ease-out .4s;

    display: none;
}

#warningEditar {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    right: 10px;

    background-color: #041802;
    padding: 20px;

    animation: comeIn ease-out .4s;

    display: none;
}


select {
    padding: 17px;
    width: 100%;
    border-radius: 5px;
    background-color: #041802;
    border: none;
    color: white;
    outline: none;
}

#button-editar {

    border: none;
    background-color: #041802;
    color: white;
    width: 30%;
    height: 55%;
    border-radius: 5px;
  

}

@keyframes comeIn {
    0% {
        transform: translateY(-20px);
        opacity: .5;
    } 100% {
        transform: translate(0px);
        opacity: 1;
    }
}
