/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .nav-links {
        gap: 1rem;
    }

    .nav-links li a {
        font-size: 1rem;
    }

    .main-info {
        padding: 3rem 1rem;
    }

    .text__main h1 {
        font-size: 2rem;
    }

    .text__main2 p {
        font-size: 2.5rem;
    }

    .frase p {
        font-size: 1.2rem;
    }

    .info-1 {
        padding: 3rem 1rem;
    }

    .grade-dash {
        flex-direction: column;
    }

    .itens-dash {
        width: 100%;
    }
}

@media (max-width: 800px) {
    /* Oculta a navbar em telas menores que 800px */
    .navbar {
        display: none;
    }

    .underline, .underline2 {
        display: none;
    }

    main {
        width: auto;
    }

    section {
        padding: 2rem 1rem;
    }

    .text__main, 
    .text__main2,
    .frase {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .frase br {
        display: none;
    }

    .saiba-mais {
        display: block;
        text-align: center;
        width: 100%;
    }

    .info-1, .info-4 {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .grade-dash .info-beneficio {
        flex-wrap: wrap;
    }

    .itens-dash {
        width: 100%;
    }

    .dashboard img {
        width: 100%;
    }
}